.Nav {
  .Logo {
    color: white;
    display: flex;
    gap: 2px;
    align-self: center;
    font-weight: 700;
  }
  align-items: center;
  display: flex;
  background-color: #2d2a32;
  text-align: center;
  justify-content: space-between;
  padding: 1% 2%;
  p {
    color: white;
    position: absolute;
    font-size: 0.8rem;
    font-weight: 300;
    right: 10%;
  }
  button {
    border: none;
    padding: 0.5% 2%;
    border-radius: 0.2rem;
    background-color: #b59013;
    cursor: pointer;
  }
}
